@use '../variables/colors' as *;

.footer {
  background-color: $dark;
  .facebook {
    transition: .8s;
    &:hover {
      color: blue;
    }
  }
  .youtube {
    transition: .8s;
    &:hover {
      color: red;
    }
    
  }
  .twitter {
    transition: .8s;
    &:hover {
      color: green
    }
  }
}