include includes\vars
include includes\mixins
doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- Define KeyWords For Search Engines
    meta(name="keywords", content="")
    //- Setting the viewport to make your website look good on all devices
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Define Description In google search
    meta(name="description", content="Welcome To our Store")
    //- Css Files
    include includes\styles
    title #{temp_name}
  body
    //- Start Header
    header
      .container
        .brand
          h2
            span Dun
            |ker
        ul.links
          li: a(class="active" href="#" data-value="") Home
          li: a(href="#" data-value="") About
          li: a(href="#" data-value="") Contact
        .socials
          i icon
          i icon
    //- End Header
    //- Start Landing
    section(class="landing")
      .overlay
      .container
        ul.slider
          li
            h3 Heading Slider 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p Reset Your Router1
          li
            h3 Heading Slider 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p Reset Your Router2
          li
            h3 Heading Slider 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p Reset Your Router3
    //- End Landing
    //- Start Service
    section(class="service")
      .container
        .special-heading Our Services
        .items
          i Fontawesome Icon 1
          .info
            h3 Service 1
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .items
          i Fontawesome Icon 2
          .info
            h3 Service 2
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .items
          i Fontawesome Icon 3
          .info
            h3 Service 3
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    //- End Service
    //- Start Product
    section(class="product")
      .container
        .special-heading Our Products
        .boxs
          .box
            .front
              img(src="", alt="")
              p Image Caption
            .back
              h3 Box Back Header
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt facilis quos vitae libero est similique velit ratione?
          .box
            .front
              img(src="", alt="")
              p Image Caption
            .back
              h3 Box Back Header
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt facilis quos vitae libero est similique velit ratione?
          .box
            .front
              img(src="", alt="")
              p Image Caption
            .back
              h3 Box Back Header
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt facilis quos vitae libero est similique velit ratione?
          .box                                                                                                                                
            .front
              img(src="", alt="")
              p Image Caption
            .back
              h3 Box Back Header
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt facilis quos vitae libero est similique velit ratione?
    //- End Product
    section(class="testimonial")
      .container
        .special-heading Our Clients
        .own-slides
          div(class="slide active")
            q Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            p Name 1
          .slide
            q Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            p Name 1
          .slide
            q Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            p Name 1
          .slide
            q Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            p Name 1
    //- End Product
    //- Start Track
    section(class="track")
      .container
        .special-heading Take A Rest
        ul.shuffle
          li(class="select filter" data-filter="all")
          li(class="filter" data-filter=".images")
          li(class="filter" data-filter=".audios")
          li(class="filter" data-filter=".videos")
        div(class="gall" id="gal")
          .row
            div(class="mix images")
              .over View More
              span.heart 15
                i Fontawesome Icon 1
              img(src="", alt="")
            div(class="mix audios")
              .over View More
              span.heart 16
                i Fontawesome Icon 2
              img(src="", alt="")
            div(class="mix videos")
              .over View More
              span.heart 17
                i Fontawesome Icon 3
              img(src="", alt="")
    //- End Track
    //- Start Footer
    footer Footer
    //- End Footer