// include color variables
@use '../variables/colors' as *;
// Navbar Edits
.navbar {
  background-color: $dark;
  
  .navbar-brand h2 {
    color: $green;
  }
  .navbar-brand p {
    font-size: 14px;
    color: #fff;
  }
  .navbar-nav {
    .nav-link {
      color: #fff;
      &.active,
      &:focus,
      &:hover {
        color: $green;
      }
    }
  }
  .search {
    border-left: 1px solid $green;
    svg {
      color: $green
    }
  }
  .navbar-toggler {
    color: #fff;
    font-size: 22px;
    border-color: #959595;
    &:focus {
      box-shadow: none;
    }
    &[aria-expanded="true"] {
      color: $green;
      border-color: $green;
    }
  }
}