@use '../variables/colors' as *;

.our-work {
  background-color: $section;
  ul 
    .active {
      background-color: $green;
      color: $dark;
    }
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: .3s;
      &:not(.active):hover {
        color: $green;
      }
    }
  .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    &::before {
      content: attr(data-work);
      position: absolute;
      background-color: rgba(127, 255, 212, 0.3);
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #fff;
      transition: .3s;
      font-size: 1.5rem;
      transform: translateX(calc(-100% - 5px));
    }
    &:hover::before {
      transform: translateX(0);
    }
  }
}