@use '../variables/colors' as *;
.stuff .desc {
  max-width: 500px;
}


// Start Team 
.team {
  background-color: $section;
  h2 {
    color: $dark;
  }
  .box h4 {
    background-color: $green;
  }
}

// Start Project
.project {
  background-color: $dark;
}